---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
---

<Layout title="@jmartinez3421 - Portfolio">
	<main>
		<Header />
	</main>
</Layout>

<style>
	main {
		position: absolute;
		inset: 0;
		background-color: var(--color-background);
		overflow: auto;
	}
</style>
