---
import { Icon } from "astro-icon";
---

<div class="contact">
    <a href="mailto:jmartinezg.fp@gmail.com">
        <Icon name="mail" class="icon"/>
    </a>
    <a href="https://github.com/jmartinez3421" target="_blank">
        <Icon name="brand-github" class="icon"/>
    </a>
    <a href="www.linkedin.com/in/jordi-martínez-grau-813934215" target="_blank">
        <Icon name="brand-linkedin" class="icon"/>
    </a>
</div>

<style>
    .contact {
        margin-top: 1.6rem;
        display: flex;
        column-gap: 3rem;

        background-color: var(--color-primary-dark);
        padding: 1.5rem 4rem;
        width: fit-content;
        border-radius: 50px;
    }

    .contact .icon {
        width: 4rem;
        aspect-ratio: 1/1;
        color: var(--color-on-surface);
        transition: all 0.2s ease-in-out;
    }

    .contact .icon:hover {
        color: var(--color-secondary-dark);
        transform: scale(1.1);
    }
</style>
