---
import { Image } from "astro:assets"
import { Icon } from "astro-icon";

import headerImage from "/public/images/Header_image.png"
import Contact from "./Contact.astro";
import Background from "./Background.astro";
import BottomLightDivider from "./BottomLightDivider.astro";
---

<header>
    <Background />
    <div class="header">
        <div class="description">
            <h1>Hi, I'm Jordi</h1>
            <h2>I create efficient and beautiful webapps</h2>
            <p>I'm a Frontend developer with experience in React, NextJS, Angular, Typescript and Javascript. I've also worked in Backend using Node, express, Mongoose and a little bit of Java.</p>
            <p>I'm very creative and I like to bring a lot of ideas and improvements to the projects I work on.</p>
            <p>I am always looking for new challenges, and I am eager to collaborate with others on interesting projects. If you have any questions or would like to work together, please don't hesitate to <b>contact me:</b></p>
            <Contact />
        </div>
        <div class="image_container">
            <Image src={headerImage} alt="An image of Jordi Martínez Grau" class="image" />
        </div>
    </div>
    <BottomLightDivider />
</header>

<style>
    header {
        position: relative;
    }

    .header {
        position: relative;
        display: grid;
        align-items: flex-start;
        height: 100%;
        min-height: 100svh;
        padding: 15rem 10rem 12.3rem 10rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
    }

    .image {
        position: relative;
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 13px;
        z-index: 1;
    }

    .image_container {
        position: relative;
        text-align: end;
    }

    .image_container::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 2rem;
        width: 100%;
        aspect-ratio: 1/1;
        max-width: 500px;
        background-color: var(--color-primary);
        border-radius: 13px;
        z-index: 0;
        transform: rotate(5deg) translateY(-50%);
    }

    .description {

    }

    .description h1 {
        font-size: 8rem;
        font-weight: 700;
    }

    .description h2 {
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 3rem;
        text-transform: uppercase;
        color: var(--color-primary);
    }

    .description p {
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 3rem;
    }

    @media (min-width: 1920px) {
        .header {
            width: 1920px;
            margin: 0 auto;
        }
    }

    @media (max-width: 880px) {
        .header {
            grid-template-columns: 1fr;
            row-gap: 10rem;
        }

        .image_container {
            text-align: center;
        }

        .image_container::before {
            right: 50%;
            top: -3rem;
            transform: rotate(5deg) translateX(50%);
        }
    }

    @media (max-width: 600px) {
        .header {
            padding: 15rem 3rem;
        }
    }
</style>
